*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-family: sans-serif;
}

ol,
ul {
    list-style-type: none;
}

img {
    vertical-align: middle;
    object-fit: cover;
}

.container {
    max-width: 1440px;
    padding: 0 80px;
    margin: 0 auto;
}

.header {
    padding: 20px 0px;
    background-color: #fff;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__buttons {
    display: flex;
    margin-left: 75%;
    font-family: sans-serif;
    gap: 20px;
}

.header__h4 {
    transition: color .3s ease;
    opacity: 50%;
}

.header__h4:hover {
    text-decoration: underline;
    opacity: 100%;
}

.header__h4h4 {
    opacity: 50%;
    transition: color .3s ease;
}

.header__h4h4:hover {
    text-decoration: underline;
    opacity: 100%;
}

.header__link {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 15px;    
}

.main__img {
    height: 670px;
    width: 480px;
    margin-left: 60%;
    margin-top: 3%;
}

.main__h1 {
    font-size: 60px;
    font-family: sans-serif;
    letter-spacing: px;
    margin-top: -37%;
    margin-left: 8.3%;
}

.main__photo {
    margin-top: 5%;
    margin-left: 8.4%;
}

.footer__text {
    font-size: 15.5px;
    font-family: sans-serif;
    font-weight: 700;
    margin-top: 18%;
    margin-left: 21%;
}

.footer__solid {
    width: 15%;
    height: 2px;
    background-color:#FF7064;
    margin-left: 16.4%;
    margin-top: 1.5%;
}

.footer__btn button {
    color: white;
    background-color: #FF7064;
    height: 49px;
    width: 102px;
    border: none;
    transform: translate(469%,-100%);
}