doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../../css/style.css")
        title 5-dars
    body 
        header.header
            .container.header__container
                .header__logo
                    img.header__img(src="../../img/img.png", alt="img")
                .header__buttons
                    a.header__link(href="#") 
                        h4.header__h4 CN 
                        h4.header__h4h4 EN
                .header__nav 
                    img.header__photo(src="../../iconn/svg.svg", alt="icon")
        main.main 
            .section 
                .main__logo 
                    img.main__img(src="../../photo/svgg.svg", alt="img")
                .main__hero 
                    h1.main__h1 One nightowl is coding really hard
                    img.main__photo(src="../../iconn/png.png", alt="iconca")
        footer.footer
            .footer__logo
                .footer__p 
                    p.footer__text Get Notified
                .footer__solid 
                .footer__btn 
                    button.button Send


        

                    